version: '3.5'

services:
  pdb:
    image: mysql:5.7
    container_name: participatory_db
    command: --explicit_defaults_for_timestamp --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    env_file: .env
    expose:
      - 33062
    ports:
      - 33062:3306
    volumes:
      - ./docker/data/mysql:/var/lib/mysql
      - ./docker/config/mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf
    networks:
      - proxy

  webapp:
    build:
      context: .
      dockerfile: docker/config/webapp/Dockerfile
    container_name: participatory_webapp
    expose:
      - 9004
    volumes:
      - .:/var/www/html
      - ./docker/config/webapp/php/ini/limitation.ini:/usr/local/etc/php/conf.d/limitation.ini
      - ./docker/config/webapp/php/ini/security.ini:/usr/local/etc/php/conf.d/security.ini
      - ./docker/config/webapp/php/ini/upload.ini:/usr/local/etc/php/conf.d/upload.ini
      - ./docker/config/webapp/php/ini/opcache.ini:/usr/local/etc/php/conf.d/opcache.ini
      - ./docker/config/webapp/php/ini/postal.ini:/usr/local/etc/php/conf.d/postal.ini
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 1m30s
      timeout: 10s
      retries: 3
    env_file: .env
    depends_on:
      - pdb
    networks:
      - proxy

  nginx:
    image: nginx:stable-alpine
    container_name: participatory_nginx
    networks:
      - proxy
    expose:
      - 80
      - 443
    volumes:
      - ./docker/config/nginx:/etc/nginx/conf.d
      - ./docker/data/nginx/logs:/var/log/nginx
      - ./:/var/www/html
    depends_on:
      - pdb
      - webapp

  libpostal:
    image: fphgov/libpostal:latest
    environment:
      - LISTEN_PORT=9501
    expose:
      - 9501

networks:
  proxy:
    external:
      name: proxy
