* * * * * /usr/local/bin/php -f /var/www/html/bin/cron/newsletters.php
* * * * * /usr/local/bin/php -f /var/www/html/bin/cron/notifications.php
* * * * * sleep 15; /usr/local/bin/php -f /var/www/html/bin/cron/notifications.php
* * * * * sleep 30; /usr/local/bin/php -f /var/www/html/bin/cron/notifications.php
* * * * * sleep 45; /usr/local/bin/php -f /var/www/html/bin/cron/notifications.php
